ASC_ISSUER_ID="YOUR_ISSUER_ID"
ASC_KEY_ID="YOUR_KEY_ID"
ASC_KEY_FILE="/absolute/path/to/AuthKey.p8"
APP_IDENTIFIER="com.taiwanarch.condolaw"
APP_TEAM_NAME="Yu Shiung Jiang"
APP_VERSION="1.2"
APP_BUILD_NUMBER="6"
